/* style.css */

/* General button styling */
.button {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-background-radius: 30;
}

.button:hover  {
    -fx-background-color: #333333;
}

/* Slider thumb styling */
.slider .thumb {
    -fx-background-color: black;
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
    -fx-effect: null; /* Reset any effects */
    -fx-background-insets: 0;
}

.slider .thumb:hover {
    -fx-background-color: black; /* Keep the background color the same when hovered */
    -fx-scale-x: 1.1; /* Increase the scale in x-direction */
    -fx-scale-y: 1.1; /* Increase the scale in y-direction */
    -fx-background-radius: 50; /* Optional: adjust the border-radius for better appearance */
}

.slider::before {
    -fx-background-color: black;
    -fx-background-insets: 0, 0 0 0 0.5;
}

.slider .track {
    -fx-background-color: white;
    -fx-background-insets: 0;
}

/* VBox border styling */
.VBox {
    border: black;
}

/* Currently playing pane styling */
#currentlyPlayingPane {
    -fx-padding: 20;
}

.currentlyPlayingLabel {
    -fx-font-family: 'Times New Roman';
    -fx-font-size: 25px;
    -fx-text-alignment: center;
}

.currentlyPlayingInfo {
    -fx-font-family: 'Arial';
    -fx-font-size: 18px;
    -fx-text-alignment: center;
}

#libraryPane, #playlistPane {
    -fx-font-size: 15px;
    -fx-padding: 10;
}

#treeView, #playlistView {
    -fx-border-color: rgb(80, 80, 80);
    -fx-border-width: 1px;
}

#treeView:focused, #playlistView:focused {
    -fx-border-color: black;
    -fx-border-width: 2px;
}

.library-label, .playlist-label {
    -fx-font-family: 'Arial';
    -fx-text-fill: black;
}

.rounded-button {
    -fx-background-radius: 50em;
    -fx-background-color: black;
    -fx-text-fill: white;
}

.rounded-button:hover {
    -fx-background-color: #333333;
}


.tree-cell:filled:selected {
    -fx-background-color: black;
    -fx-text-fill: white;
}